html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}

body {
	background-color: #333;
}

#wrapper {
	display: none;
}

canvas {
	position: absolute;
}

#input {
	padding: 5px 10px 0 10px;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1;
	background-color: white;
	border: 1px solid #e6e6e6;
}

#zoom {
	width: 40px;
	height: 100px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;
}

#zoom button {
	font-size: 20px;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

#legenda {
	display: none;
	width: 200px;
	padding: 5px 10px 0 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 1;
	background-color: white;
	border: 1px solid #e6e6e6;
}

.color {
	display: inline-block;
	width: 30px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.color-1 {
	color: #B71C1C;
	background: #B71C1C;
}
.color-2 {
	color: #9C27B0;
	background: #9C27B0;
}
.color-3 {
	color: #795548;
	background: #795548;
}
.color-4 {
	color: #FF9800;
	background: #FF9800;
}
.color-5 {
	color: #2196F3;
	background: #2196F3;
}
.color-6 {
	color: #4CAF50;
	background: #4CAF50;
}
.color-7 {
	color: #FFEB3B;
	background: #FFEB3B;
}
.color-8 {
	color: #C8C8C8;
	background: #C8C8C8;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #e1e1e1;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}