html, body {
	height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
	height: 100%;
	width: 90%;
	min-height: 100%;
	padding: 0 5%;
	margin: 5% 0;
}

.container {
	float: left;
	width: 50%;
	height: 50%;
}

canvas {
	margin: 5% 0;
	border: solid #000 1px;
}

textarea {
	height: 70%;
	width: 90%;
}